{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Symfony Movies</h1>
    <ul id="last_movies">
        {% for movie in last_movies %}
            <li><a href="{{ path('movie_details', { slug: movie.slug }) }}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
