{% extends 'base.html.twig' %}

{% block title %}Details of {{ movie.title }} }}{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <time>{{ movie.date | date('d/m/Y') }}</time>
    <p>
        Réalisé par {{ movie.directors | map(director => "#{director.usageName}") | join(',', 'et') }}

       {#
       {% for director in movie.directors %}
            {{ director.usageName }}{% if not loop.last %}, {% endif %}
        {% endfor %}
       #}
    </p>
{% endblock %}

{#
TODO: Affiche la liste des acteurs qui jouent dans le film avec <ul> et <li>
Test (TDD)
Entité à mettre à jour
Migration
Fixture
Implémentation
#}